# Significant Wave Height at Bilbao Buoy

In [3]:
import numpy as np
import pandas as pd
import os
import sys
import matplotlib.pyplot as plt

os.chdir("C:/Users/user/Victor/Trabajo/ExtremeCorrection/")
sys.path.append(os.path.abspath('C:/Users/user/Victor/Trabajo/ExtremeCorrection/src'))

Load the data

In [12]:
bilbao_buoy_data = np.loadtxt("Data/matriz_13_Boya.txt")

In [13]:
bilbao_buoy_data = bilbao_buoy_data[:,:5]

In [22]:
df_hs = pd.DataFrame({
    "yyyy": bilbao_buoy_data[:,0].astype(np.int64),
    "mm": bilbao_buoy_data[:,1].astype(np.int64),
    "dd": bilbao_buoy_data[:,2].astype(np.int64),
    "hh": bilbao_buoy_data[:,3].astype(np.int64),
    "Hs": bilbao_buoy_data[:,4].astype(np.float64),
    })

In [26]:
df_hs.head()

   yyyy  mm  dd  hh   Hs
0  1985   2  21   9  1.3
1  1985   2  22   9  1.0
2  1985   2  22  12  0.9
3  1985   2  22  15  1.0
4  1985   2  22  18  0.9

## Correction

In [ ]:
config = {
    'var': 'Hs',
    'yyyy_var': 'yyyy',
    'mm_var': 'mm',
    'dd_var': 'dd',
    'freq': 24*365.25,
    'folder': 'Figures/Hs_Bilbao'
}